# MongoDB
export MONGO_ROOT_USER=
export MONGO_ROOT_PASSWORD=

# Mongo-express
export MONGOEXPRESS_LOGIN=
export MONGOEXPRESS_PASSWORD=

# Backend TODO: add db connection stuff
export BACKEND_HOST=
export BACKEND_PORT=